[Unit]
Description=Update Crop Forecast Bot from Git
Documentation=https://github.com/f2re/crop_forecast_bot
Wants=network-online.target
After=network-online.target postgresql.service redis-server.service
ConditionPathIsSymbolicLink=@CURRENT_LINK@

[Service]
Type=oneshot
ExecStart=/usr/bin/bash @CURRENT_LINK@/scripts/update.sh @BRANCH@
TimeoutStartSec=3600
Nice=10
IOSchedulingClass=idle
StandardOutput=journal
StandardError=journal
SyslogIdentifier=crop-forecast-bot-update
